/*
colors:
main: #81d4fa
variation: #4ba3c7
secondary: #1a237e
background: #b6ffff
*/
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}
body {background-color: #white;}

body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: white;
  color: white;
  margin-bottom: 7px;
}

.topnav div, .topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 25%;
  border-left: 7px solid white;
  font-size: 20px;
  height:50px;
}

.topnav div{
background-color:#1a237e

}

.topnav a{
	background-color: #4ba3c7;
}

.topnav a:hover {
  background-color: #1a237e;
  color: white;
}

/* Style the content */
.content {
  background-color: #81d4fa;
  padding: 10px;
  min-height: 200px;
}

.footer {
  background-color: #1a237e;
  padding: 10px;
  color: white;
  margin-top: 7px;
}

.content_menu {
float:left;
width: 25%;
margin-right: 8px;
background-color: white;

}

.content_menu div{
	padding: 5px;
	border-style: solid;
	border-color: white;
	border-top: 0 px;
	background-color: #1a237e;
	display: block;
	overflow: hidden;
}

.content_menu a{
	text-decoration: none;
	color: white;
}

.inner_content {
	/*float: left;
	
	display: flex;*/
	background-color: #81d4fa;
	width: 75%;
	padding: 8px;
	padding-top: 0px;
}

.jachty
{
	background-color: #white;
	display: flex;
}

#logo_top {
	border-left: 0px;
	padding-top: 2px;
	padding-left: 60px;
	padding-right: 30 px;
	margin:0px;
	border: 0 px;
	justify-content: center;
}

#logo_top_2 {
	border-left: 0px;
	background-color: #1a237e;
	padding:0px;
	height:50px;
	margin: auto;
	/*float: none;*/
	display: inline-block;

}

.subitems {
	background-color: red;
	color: #b6ffff;
}
